<header class="daily-header">
  

</header>

<section class="daily-recetas">
  <div class="daily-recetas--buscador container">
    <input type="text" id="search">
    <label for="search">B</label>
  </div>
  <div class="daily-recetas--conte row container">
    <article class="c100-s c50-m 33-l c25-xl daily-receta">
      <a href="">
        <section>
          <img src="" alt="receta">
          <h2>titulo</h2>
        </section>
      </a>
    </article>
    <article class="c100-s c50-m 33-l c25-xl daily-receta">
      <a href="">
        <section>
          <img src="" alt="receta">
          <h2>titulo</h2>
        </section>
      </a>
    </article>
    <article class="c100-s c50-m 33-l c25-xl daily-receta">
      <a href="">
        <section>
          <img src="" alt="receta">
          <h2>titulo</h2>
        </section>
      </a>
    </article>
    <article class="c100-s c50-m 33-l c25-xl daily-receta">
      <a href="">
        <section>
          <img src="" alt="receta">
          <h2>titulo</h2>
        </section>
      </a>
    </article>
    <article class="c100-s c50-m 33-l c25-xl daily-receta">
      <a href="">
        <section>
          <img src="" alt="receta">
          <h2>titulo</h2>
        </section>
      </a>
    </article>
    <article class="c100-s c50-m 33-l c25-xl daily-receta">
      <a href="">
        <section>
          <img src="" alt="receta">
          <h2>titulo</h2>
        </section>
      </a>
    </article>
    <article class="c100-s c50-m 33-l c25-xl daily-receta">
      <a href="">
        <section>
          <img src="" alt="receta">
          <h2>titulo</h2>
        </section>
      </a>
    </article>
    <article class="c100-s c50-m 33-l c25-xl daily-receta">
      <a href="">
        <section>
          <img src="" alt="receta">
          <h2>titulo</h2>
        </section>
      </a>
    </article>
  </div>
</section>