<nav class="daily-menu">
  <div class="container">
    <ul class="daily-lista daily-lista--left">
      <li><a href="http://www.dailyfoods.cl/es">inicio</a></li>
      <li>stevia</li>
      <li>novedades</li>
      <li>productos</li>
    </ul>
    <div class="daily-logo">
      <a href="http://www.dailyfoods.cl/es"><img src="./images/logo-daily.svg" alt="logo"></a>
    </div>
    <ul class="daily-lista daily-lista--right">
      <li>parachuparselosdedos</li>
      <li><a href="http://www.dailyfoods.cl/es/multimedia">multimedia</a></li>
      <li><a href="http://www.dailyfoods.cl/es/contacto">contacto</a></li>
    </ul>
  </div>
</nav>