$ancho-logo : 10rem;

.daily{
  &-menu{
    background-color: $nav-background;
    box-shadow: $shadow ;
    position: fixed;
    top: 0;
    left: 0;
    height: $nav-height;
    width: 100vw;
    text-transform: uppercase;
    position: fixed;
    font-weight: 300;
    z-index: $index-3;
    &>div{
      display: flex;
      justify-content: center;
    }
    a{
      color: #000;
    }
  }
  &-lista{
    height: $nav-height;
    display: flex;
    align-items: flex-end;
    padding-bottom: .8rem;
    &>li{
      &:not(:last-child){
        margin-right: 1.2rem;
      }
    }
    &--left{
      margin-left: 3rem;
    }
    &--right{
      margin-left: calc(#{$ancho-logo} + 2rem);
    }
  }
  &-logo{
    a{
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: calc(-1 * #{$ancho-logo} / 2);
    }
    img{
      width: $ancho-logo;
    }
  }
}